<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nikpo/IdeaProjects/LumaEcart">
        <classes>
            <class name="org.example.Runner_Tests.LumaEcart_RC_Runner">
                <methods>
                    <include name="TC_001"/>
                    <include name="TC_002"/>
                    <include name="TC_003"/>
                    <include name="TC_004"/>
                    <include name="TC_006"/>
                    <include name="TC_007"/>
                    <include name="TC_008"/>
                    <include name="TC_009"/>
                    <include name="TC_010"/>
                    <include name="TC_011"/>
                    <include name="TC_012"/>
                    <include name="TC_013"/>
                    <include name="TC_014"/>
                    <include name="TC_015"/>
                    <include name="TC_016"/>
                    <include name="TC_017"/>
                    <include name="TC_018"/>
                    <include name="TC_019"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>